.header {
    margin-left:auto;
    margin-right:auto;
    width:947px;
    border:1px solid #000000;
    background:#fff;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.header img{
    float: left;

}

.header .text{
    float:right;
    color:#D40139;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-right: 30px;
}

.pages { 
    margin-left:auto; 
    margin-right:auto; 
    width:1000px;
}

.content {
    width:796px;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    background:#fff;
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    padding-bottom: 20px;
}

.content .head .title{
    text-align: center;
    margin: 5px 0;
    font-size: 24px;
}

.content .head span{
    color:#D40139;
}

.content .head img{
    width: 100%;
    height: 200px;
}

.foto img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 23%;
}

.content .text-new{
    border-left: 4px solid #D40139;
    padding-left: 10px;
}

.gb{
    width: 600px;
    margin-left: 50px;
}

.gb .form-group{
    margin-bottom: 10px;
}

.gb label{
    display: block;
    width: 100%;
    margin-left: 5px;
}
.gb input{
    display: block;
    width: 100%;
}

.gb textarea{
    display: block;
    width: 100%;
}

.feedback{
    width: 600px;
    margin-left: 50px;
}

.feedback .form-group{
    margin-bottom: 10px;
}

.feedback label{
    display: block;
    width: 100%;
    margin-left: 5px;
}
.feedback input{
    display: block;
    width: 100%;
}

.feedback textarea{
    display: block;
    width: 100%;
}

.list-gb .name{
    margin-top: 15px;
    font-weight:bold;
}

.list-gb .name span{
    font-weight:normal;
    font-style: italic;
    margin-left: 15px;
}

.sidebar {
    width:180px;
    background:#fff;
    float:right;
}

.sidebar ul{
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
}

.sidebar ul li{
    padding-left: 0;
    background: #D40139;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar a{
    text-decoration: none;
    color:#fff;
    display: block;
}

.sidebar a.active{
    font-weight:bold;
}

.foot {
    clear:both;
}

.footer {
    margin-left:auto;
    margin-right:auto;
    width:968px;
    border:1px solid #000000;
    background:#D40139;
    padding-left: 30px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}